
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Work Sans", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #E6E8E6;
    color: #0B1A33;
    box-sizing: border-box
}

a { 
    text-decoration: none; 
    color: inherit; 
}

ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

/* ----------------- Navbar ----------------- */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 60px;
}

nav .logo {
    font-size: 22px;
    font-weight: 600;
}

nav ul {
    display: flex;
    gap: 35px;
    font-size: 16px;
}
.nav-icons {
    display: flex;
    gap: 20px;
    font-size: 22px;
    cursor: pointer;
}

.nav-icons i:hover {
    color: #2d3f55;
}

/* ----------------- Hero Section ----------------- */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8rem ;
    padding-block: 5rem;
    gap: 4rem;
}

.hero-text {
    width: 55%;
}

.hero-text h3 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 500;
}

.hero-text h1 {
    font-size: 54px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-text p {
    font-size: 16px;
    width: 90%;
    line-height: 1.6;
    margin-bottom: 35px;
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #0B1A33;
    color: white;
    padding: 15px 25px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
}

/* ----------------- Image Frame ----------------- */
.hero-img-container {
    width: 45%;
    display: flex;
    justify-content: center;
}
.index-img-container {
    width: 45%;
    display: flex;
    justify-content: center;
}
.frame {
    border: 2px solid #23344D;
    border-radius: 12rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 450px;
}

.frame img {
    width: 100%;
    border-radius: 160px;
}

/* ----------------- Responsive (Tablet) ----------------- */
@media screen and (max-width: 992px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text p {
        width: 100%;
    }

    .hero-img-container {
        width: 80%;
    }
}

/* ----------------- Responsive (Mobile) ----------------- */
@media screen and (max-width: 600px) {
    nav {
        padding: 20px;
    }

    nav ul {
        display: none; 
    }

    .hero-text h1 {
        font-size: 34px;
    }

    .hero {
        padding: 20px;
    }

    .hero-img-container {
        width: 100%;
    }

    .frame {
        padding: 15px;
    }
}

/* ------------------- Services Section ------------------- */

.services-section {
    background: #061C38;      
    text-align: center;
    padding: 120px 40px;
    color: #ffffff;
}

.service-tag {
    display: inline-block;
    border: 1px solid #fff;
    padding: 6px 18px;
    border-radius: 40px;
    font-size: 13px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.service-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 60px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* Cards */
.service-card {
    position: relative;
    width: 350px;
    height: 450px;
    border-radius: 6rem;
    overflow: hidden;
}
.service-card::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0,0.5); */
     background: linear-gradient(to top,black, rgb(0, 0, 0,0.1));

}
.second{

    margin-top: 5rem;

}
.service-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    display: block;
    /* mix-blend-mode: exclusion; */
   
}


/* Text over image */
.service-card h3 {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

/* .service-card:hover img {
    transform: scale(1.05);
    transition: 1s;
} */

/* ------------------- Responsive ------------------- */

/* Tablets */
@media (max-width: 992px) {
    .service-title {
        font-size: 36px;
    }

    .service-card {
        width: 300px;
        height: 420px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .services-section {
        padding: 80px 20px;
    }

    .service-title {
        font-size: 28px;
        line-height: 1.4;
    }

    .services-container {
        gap: 25px;
    }

    .service-card {
        width: 100%;
        max-width: 330px;
        height: 420px;
        margin-inline: auto;
    }
}

/* ------------------- Work Section ------------------- */

.work-section {
    background: #DADBD7;      
    text-align: center;
    padding: 120px 40px;
}

.work-tag {
    display: inline-block;
    border: 1px solid #000;
    padding: 6px 20px;
    border-radius: 50px;
    font-size: 13px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.work-title {
    font-size: 42px;
    font-weight: 700;
    color: #0B1A33;
    margin-bottom: 60px;
}

/* Work Grid Layout */
.work-grid {
    display: flex;
    gap: 10px;
    justify-content:center ;
    /* align-items: center; */
    flex-wrap: wrap;
}

/* Work Cards */
.work-card {
    width: auto;
    height: auto;
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 50px;
    border: 2px solid #7D8A98; 
    overflow: hidden;
    background: #fff;
}

.work-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 48px;
    transition: 0.3s ease;
}

/* Hover zoom */
/* .work-card:hover img {
    transform: scale(1.05);
} */

/* ------------------- Responsive ------------------- */

/* Tablet */
@media (max-width: 992px) {
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .work-title {
        font-size: 36px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .work-grid {
        grid-template-columns: 1fr;
    }

    .work-section {
        padding: 80px 20px;
    }

    .work-title {
        font-size: 28px;
        line-height: 1.3;
    }

    .work-card {
        width: 100%;
        max-width: 340px;
        height: 450px;
    }
}

/* index-about-section */

.about-section {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
   padding-block: 15rem;
    padding-inline: 8rem;
    background: url("images/about-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

/* LEFT SIDE IMAGE */
.about-left img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom:9rem ;
     
}

/* RIGHT SIDE CONTENT */
.about-right {
    max-width: 600px;
   margin-left: 7rem;
}

.tag {
    display: inline-block;
    padding: 6px 18px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-block: 2rem;
    font-size: 14px;
}

.about-right h1 {
    font-size: 46px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.about-right p {
    line-height: 1.6;
    margin-bottom: 15px;
}


.actions {
    margin-top: 25px;
}

.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 10px;
}

/* SECTION HEADER */
.section-head {
    text-align: center;
    margin-top: 50px;
}

.section-head .tag {
    display: inline-block;
    border: 1px solid #000;
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 13px;
    
   
}

.section-head h2 {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 700;
    color: #0c1b33;
}

@media (max-width: 992px) {

    .about-section {
        flex-direction: column;
        padding-inline: 4rem;
        padding-block: 10rem;
        height: auto;
        text-align: center;
    }

    .about-left img {
        height: 300px;
        width: 400px;
        margin-bottom: 4rem;
        border-radius: 60px;
    }

    .about-right {
        margin-left: 0;
        max-width: 90%;
    }

    .about-right h1 {
        font-size: 36px;
    }

    .about-right p {
        font-size: 15px;
    }
}



@media (max-width: 768px) {

    .about-section {
        padding-inline: 2rem;
        padding-block: 8rem;
    }

    .about-left img {
        height: 280px;
        border-radius: 40px;
    }

    .about-right h1 {
        font-size: 30px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }

    .section-head h2 {
        font-size: 32px;
    }
}



@media (max-width: 576px) {

    .about-section {
        padding-inline: 1.5rem;
        padding-block: 6rem;
    }

    .about-left img {
        width: 100%;
        height: 230px;
        border-radius: 30px;
        margin-bottom: 3rem;
    }

    .about-right h1 {
        font-size: 26px;
    }

    .tag {
        font-size: 12px;
        padding: 5px 14px;
    }

    .section-head h2 {
        font-size: 28px;
    }
}


/* TESTIMONIAL AREA */
.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
    width: 80%;
    gap: 50px;
}

.testimonial-image img {
    width: 250px;
    height: 330px;
    object-fit: cover;
    border-radius: 37%; 
}

.testimonial-text {
    max-width: 650px;
    color: #222;
}

.quote-icon {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.testimonial-text p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 25px;
}

.client-name {
    font-size: 18px;
    font-weight: 600;
    color: #0b1a34;
}

@media (max-width: 992px) {

    .testimonial-container {
        width: 90%;
        gap: 30px;
    }

    .testimonial-text {
        max-width: 100%;
    }

    .testimonial-text p {
        font-size: 15px;
    }

    .testimonial-image img {
        width: 220px;
        height: 300px;
    }
}


@media (max-width: 768px) {

    .testimonial-container {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .testimonial-image img {
        width: 200px;
        height: 260px;
        border-radius: 40%;
    }

    .quote-icon {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .testimonial-text p {
        font-size: 15px;
        line-height: 1.6;
    }

    .client-name {
        font-size: 17px;
    }
}


@media (max-width: 576px) {

    .testimonial-container {
        width: 95%;
        margin: 50px auto;
    }

    .testimonial-image img {
        width: 170px;
        height: 230px;
        border-radius: 45%;
    }

    .quote-icon {
        font-size: 35px;
    }

    .testimonial-text p {
        font-size: 14px;
    }

    .client-name {
        font-size: 16px;
    }
}

/* FOOTER SECTION */
.footer {
    height: 550px;
    width: 100%;
    background: #071a31;
    color: white;
    /* padding: 200px 120px 40px;    */
    padding-inline: 200px;
    padding-block: 150px;
    font-family: "Poppins", sans-serif;
}


.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}

.footer-left p {
    opacity: 0.8;
}


.footer-buttons {
    display: flex;
    gap: 20px;
}

.connect-btn {
    background: #12263f;
    color: white;
    padding: 16px 35px;
    font-size: 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.email-btn {
    background: #e3e4df;
    color: #0c1b33;
    padding: 16px 35px;
    font-size: 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}


.footer-line {
    border: 0;
    border-top: 1px solid #2d3d52;
    margin: 40px 0;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav a,
.footer-socials a {
    margin-right: 25px;
    text-decoration: none;
    color: #d9d9d9;
    font-size: 15px;
}

.footer-socials a:last-child {
    margin-right: 0;
}


.copyright {
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;
    font-size: 14px;
}

@media (max-width: 992px) {

    .footer {
        padding: 60px 60px;
    }

    .footer-top {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-buttons {
        justify-content: center;
    }

    .footer-left h2 {
        font-size: 32px;
    }
}


@media (max-width: 768px) {

.footer {
        padding: 50px 40px;
    }

    .footer-left h2 {
        font-size: 28px;
    }

    .footer-left p {
        font-size: 14px;
    }

    .footer-buttons button {
        padding: 12px 25px;
        font-size: 14px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-nav a,
    .footer-socials a {
        margin-right: 15px;
        font-size: 14px;
    }

    .footer-line {
        margin: 30px 0;
    }
}


@media (max-width: 576px) {

    .footer {
        padding: 40px 25px;
    }

    .footer-left h2 {
        font-size: 24px;
        line-height: 1.3;
    }

    .footer-buttons {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .footer-buttons button {
        width: 100%;
        padding: 14px 0;
    }

    .footer-nav a,
    .footer-socials a {
        display: inline-block;
        margin: 8px 10px;
        font-size: 13px;
    }

    .copyright {
        font-size: 13px;
    }
}

/* About-section */

.tag-about {
    display: inline-block;
    padding: 6px 18px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-block: 2rem;
    font-size: 14px;
    font-weight: 600;
    /* background-color:#E6E8E6 ; */
    background: none;
}
.button-container{

margin-top: 4rem;

}
.hero-about{
 display: grid;
text-align: center;
}


.heading-container{

    font-size: 2rem;
    
}

.hero-img-container {
    width: 45%;
    display: flex;
    justify-content: center; 
    margin-block: 3rem;
    margin-inline: 22rem;

}


.hero-paragraph{
    height: auto;
    width: 60%;
    margin-inline: 20rem;
    margin-block: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
    font-family:"Inter (woff2)","sans-serif";


}
.service-section-about{
  display: flex;
  justify-content: space-between;
}
.service-left{
 max-width: 600px;
 margin-left: 2rem;
 text-align: left;
 margin-bottom: 10px;
 padding-bottom: 3rem;
 font-size: x-large;
}
.service-right{
    max-width: 600px;
    margin-top: 3.5rem;
   margin-left: 7rem;
}
.service-right p {
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
}
.about-tag{

    padding: 0.4rem 0.7rem ;
    border: 1px solid white;
    border-radius: 50px;
    background: none;
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
}

/* belief-section */

.belief-button-container{
display: flex;
justify-content: center;

}
.belief-heading{
    display: flex;
justify-content: center;
}

.belief-card-section{

display: flex;
align-items: center;
justify-content:space-around;
gap: 5rem;
margin-block: 5rem;
margin-inline: 10rem;

}
.content-center{
    text-align: center;
}
.role i{
    height:4rem ;
    width: 4rem;
    background-color: #0b1a34;
    color: white;
    font-size: 1.5rem;
    padding-top: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    
}
.margin-bottom{
    font-family: s;
    margin-bottom: 1rem;
}

